.skills-main-container {
    background-color: #121212;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 45px 0 0 0;
}

.skills-center-container {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    // border: 1px solid white;
}

.skills-upper-container {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
}

.icon{
    color: grey;
    height: 35px;
    width: 35px;
}

.skill-icon{
    color: #48E5C2;
}

.skills-lower-container{
    border-radius: 5px;
    width: 75%;
    background-color: #1E1E1E;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    // border: 1px solid yellow;
    margin: 0 2.5%;
    padding: 15px 10px;
}

.skill-container{
    display: flex;
    gap: 5px;
}

@media(max-width: 768px){
    .skills-lower-container{
        width: 95%;
    }

    .skill-container{
        display: flex;
        align-items: center;
    }

    .skill-text{
        font-size: 12px;
    }
}