.navbar-main-container{
    height: 80px;
    width: 100%;
    background-color: #1E1E1E;
    color: white;
    display: flex;
    justify-content: center;
    border-bottom: 0.5px solid rgb(93, 93, 93);
    padding-bottom: 25px;
    // border: 1px solid pink;
}

.navbar-center-container{
    // border: 1px solid yellow;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-title-container{
    // border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-title{
    margin-top: 15px;
    font-size: 30px;
    font-weight: 600;
}

@media (max-width: 768px){
    .navbar-title{
        font-size: 25px;
    }
}

@media(max-width: 425px){
    .navbar-title{
        font-size: 20px;
    }
}